.events-tabs,
.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
  gap: rem(12);
  border-bottom: 1px solid #E0E0E0;
	}
	// .tabs__title
	&__title {
  font-family: "Jost";
  color: #808080;
  line-height: math.div(20, 16);
  padding-bottom: rem(18);
		&._tab-active {
   color: $btnColor;
			border-bottom: 2px solid $btnColor;
   margin-bottom: rem(-1.5);
		}
	}
	// .tabs__body
	&__body {
  color: $darkColor;
	}
}