//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
 font-family: "Jost";
 line-height: math.div(20, 16);
	padding: rem(14) rem(20);
 border-radius: rem(8);
 background-color: $btnColor;
 border: 1px solid transparent;
 transition: all 0.5s;
	@media (any-hover: hover) {
		&:hover {
   background-color: $mainColor;
   color: $btnColor;
   border-color: $btnColor;
		}
	}
	&._fw {
		width: 100%;
	}
}
