.header {
 @media (max-width: $tablet) {
  background-color: #FAF5F0;
 }
}
//====================================================================================================
.menu {
 z-index: 2;
 &_bgw {
  @media (max-width: $tablet) {
   flex: 1;
  }
 }
 // .menu__body
 &__body {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: -110%;
   overflow: auto;
   background-color: $darkColor;
   padding: rem(100) rem(15) rem(50) rem(15) ;
   transition: top 0.8s;
   z-index: 3;
   &::before {
    @include pseudo;
    position: fixed;
    width: 100%;
    height: 70px;
    top: -110%;
    left: 0;
    background-color: $darkColor;
   }
   .menu-open & {
    top: 0;
    &::before {
     top: 0;
    }
   }
   .menu-open {
    @include adaptiveValue("padding-top", 135, 90);
    // .menu-open__container
    &__container {
    }
    // .menu-open__items
    &__items {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(180px, auto));
     gap: rem(32);
     justify-content: center;
    }
    // .menu-open__item
    &__item {
    }
    // .menu-open__name
    &__name {
     @include adaptiveValue("font-size", 32, 24);
     font-weight: 400;
     line-height: math.div( 40, 32);
     margin-bottom: rem(16);
    }
    // .menu-open__lists
    &__lists {
     display: flex;
     gap: rem(32);
    }
    // .menu-open__list
    &__list {
     display: flex;
     flex-direction: column;
     width: rem(176);
     color: $silverColor;
    }
    // .menu-open__list-item
    &__list-item {
     &:not(:last-child) {
      margin-bottom: rem(20);
     }
    }
    // .menu-open__list-link
    &__list-link {
     font-size: rem(18);
    }
  }
 }
 // .menu__list
 &__list {
  &_bgw {
   display: flex;
   z-index: 2;
   &_left {
    @media (max-width: $tablet) {
     display: none;
    }
   }
  }
 }
 // .menu__item
 &__item {
  &:not(:last-child) {
   @include adaptiveValue("margin-right", 32, 10);
  }
 }
 //.menu__item-phone
 &__item-phone {
  margin-right: rem(48);
  @media (max-width: em(1275)){
   margin-right: 0;
  }
 }
 //.menu__item-reserve
 &__item-reserve {
  margin-right: rem(80);
  &_bgw {
   display: block !important;
   margin: 0 auto;
   color: $darkColor;
   text-transform: uppercase;
   letter-spacing: rem(1);
  }
 }
 //.menu__item-cart_bgw
 &__item-cart_bgw {
  display: none;
  @media (max-width: $tablet) {
   display: block;
   width: rem(24);
   position: relative;
    &::before {
     @include pseudo;
     @include background(url("../img/icons/bag-mob.svg"));
     width: rem(24);
     height: rem(24);
     top: rem(-12);
     left: 0;
   }
  }
 }
 // .menu__link
 &__link {
  padding-bottom: rem(32);
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
  &:hover {
   color: $btnColor;
   border-bottom: 1px solid $btnColor;
  }
  &_black {
   color: $darkColor;
  }
 }
 // .menu__logo
 &__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding-top: rem(105);
 }
}
//Burger//====================================================================================================
.icon-menu {
		display: block;
  @include adaptiveValue("margin-right", 50, 10);
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 50;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgba(199, 161, 122, 1);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
  @media (max-width: $tablet) {
   margin-right: 0;
  }
}