//====================================================================================================
.menu-block {
 background-color: $darkColor;
 @include adaptiveValue("padding-top", 80, 30);
 @include adaptiveValue("padding-bottom", 80, 30);
 // .menu-block__container
 &__container {
 }
 // .menu-block__inner
 &__inner {
  display: flex;
  @media (max-width:(rem(1175))) {
   flex-direction: column;
   align-items: center;
  }
 }
 // .menu-block__image
 &__image {
  @include adaptiveValue("margin-right", 64, 30);
  border-radius: 0px 16px 16px 0px;
  max-width: rem(780);
  width: 100%;
  height: 100%;
  @media (max-width:(rem(1175))) {
   margin-right: 0;
   margin-bottom: rem(32);
  }
 }
 // .menu-block__content
 &__content {
  max-width: rem(575);
  @media (max-width:(rem(1175))) {
   max-width: 100%;
  }
 }
 // .menu-block__title
 &__title {
  margin-bottom: rem(16);
 }
 // .menu-block__text
 &__text {
  font-family: "Jost";
  color: $silverColor;
  margin-bottom: rem(50);
  p {
   margin-bottom: rem(20);
  }
 }
 // .menu-block__items
 &__items {
 }
 // .menu-block__item
 &__item {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: rem(16) 0;
  border-top: 1px solid #262424;
  border-bottom: 1px solid #262424;
  @media (max-width: rem(1380)) {
   flex-direction: column;
   align-items: inherit;
  }
 }
 // .menu-block__item-name
 &__item-name {
  @include adaptiveValue("font-size", 24, 18);
  font-weight: 400;
  line-height: math.div( 32, 24);
  width: rem(176);
 }
 //.menu-block__box
 &__box {
  display: flex;
 }
 // .menu-block__descr
 &__descr {
  font-family: "Jost";
  color: $silverColor;
  line-height: math.div( 24, 16);
  max-width: rem(190);
  margin-right: rem(32);
  @media (max-width:(rem(1175))) {
   max-width: 100%;
  }
 }
 // .menu-block__btn
 &__btn {
  margin-left: auto;
 }
}
//====================================================================================================
.events {
 font-family: "Jost";
 background-color: #FAF5F0;
 // .events-tabs__container
 &__container {
  max-width: rem(1216);
 }
 // .events__header
 &__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: rem(32);
 }
 // .events__title
 &__title {
  color: $darkColor;
  margin-right: rem(20);
  @media (max-width: rem(440)) {
   margin-bottom: rem(20);
  }
 }
 // .events__link-all
 &__link-all {
  color: $btnColor;
  padding: rem(14) rem(20);
  border: rem(1) solid $btnColor;
  border-radius: rem(8);
  @media (max-width: rem(440)) {
   width: 100%;
   text-align: center;
  }
 }
}
.events-tabs {
 //.events-tabs__navigation
 &__navigation {
 }
 // .events-tabs__title
 &__title {
 }
 // .events-tabs__content
 &__content {
 }
 // .events-tabs__body
 &__body {
 
 }
  // .events-tabs__item
 &__item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @include adaptiveValue("gap", 32, 10);
  padding: rem(32) 0;
  border-top: rem(1) solid #E5D9D8;
  border-bottom: rem(1) solid #E5D9D8;
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .events-tabs__date
 &__date {
  display: flex;
  align-items: center;
  color: $darkColor;
  max-width: rem(170);
  //width: 100%;
 }
 // .events-tabs__number
 &__number {
  font-size: rem(40);
  line-height: math.div(48, 40);
  margin-right: rem(10);
 }
 // .events-tabs__day
 &__day {
  span {
   color: rgba(186, 148, 143, 1);
  }
 }
  // .events-tabs__days
 &__days {
  @include adaptiveValue("font-size", 24, 16);
  line-height: math.div(32, 24);
  max-width: rem(170);
  width: 100%;
  span {
   display: block;
   color: rgba(186, 148, 143, 1);
  }
 }
 // .events-tabs__image
 &__image {
  @media (max-width: $tablet) {
   width: 100%;
  }
 }
 // .events-tabs__descr
 &__descr {
  max-width: rem(295);
  @media (max-width: $tablet) {
   max-width: 100%;
  } 
 }
 // .events-tabs__descr-title
 &__descr-title {
  font-size: rem(24);
  font-weight: 600;
  line-height: math.div(32, 24);
  margin-bottom: rem(16);
  color: $darkColor;
  max-width: rem(290);
 }
 // .events-tabs__descr-text
 &__descr-text {
  color: $textColor;
  align-self: stretch;
  line-height: math.div(26, 16);
 }
 // .events-tabs__box
 &__box {
  display: flex;
  @include adaptiveValue("gap", 32, 10);
 }
 // .events-tabs__start
 &__start {
  color: $darkColor;
  max-width: rem(125);
  width: 100%;
  line-height: math.div( 24, 16);
  span {
   color: rgba(186, 148, 143, 1);
  }
 }
 // .events-tabs__btn
 &__btn {
  color: $mainColor !important;
  &:hover {
   color: $btnColor !important;
  }
 }
 // .events-tabs__info
 &__info {
  max-width: rem(221);
  //width: 100%;
  color: $btnColor;
  line-height: math.div(24, 16);
  text-align: start;
 }
}
//====================================================================================================
.bonus {
 font-family: "Jost";
 @include background(url("../img/bonus-bg.png"));
 background-color: #13131A;
 background-size: contain;
 background-position: top right; 
 @include adaptiveValue("padding-top", 80, 20);
 @include adaptiveValue("padding-bottom", 80, 20);
 @media (max-width: $tablet) {
  background-image: none;
 }
 // .bonus__container
 &__container {
  max-width: rem(1175);
 }
 // .bonus__title
 &__title {
 }
 // .bonus__inner 
 &__inner {
  max-width: rem(620);
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .bonus__sales
 &__sales {
  
 }
 // .bonus__sale
 &__sale {
  display: flex;
  align-items: flex-start;
  gap: rem(32);
  color: $silverColor;
  padding: rem(8) 0 rem(16);
  &:not(:last-child) {
   border-bottom: 1px solid #262424;
  }
 }
 //.bonus__sale-to
 &__sale-to {
  line-height: math.div(24, 16);
 }
 //.bonus__sale-number 
 &__sale-number {
  font-size: rem(40);
  line-height: math.div(48, 40);
  color: $btnColor;
 }
 //.bonus__sale-info
 &__sale-info {
  max-width: rem(330);
  line-height: math.div(24, 16);
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .bonus__text
 &__text {
  color: $silverColor;
  line-height: math.div(26, 16);
  margin-bottom: rem(16);
 }
 // .bonus__link
 &__link {
  color: $btnColor;
 }
 // .bonus__buttons
 &__buttons {
  display: flex;
  gap: rem(16);
  @media (max-width: 530px) {
   flex-direction: column;
  }
 }
 //.bonus__iphone
 &__iphone {
  &::before {
   @include background(url("../img/icons/app_store.svg"));
   left: 32px;
  }
 }
 //.bonus__android
 &__android {
  &::before {
   @include background(url("../img/icons/google_play.svg"));
   left: 23px;
   top: 50%;
   transform: translateY(-50%);
  }
 }
 &__iphone,
 &__android {
  max-width: 242px;
  justify-content: flex-end;
  padding-left: rem(48);
  width: 100%;
  position: relative;
  &::before {
   @include pseudo;
   width: rem(16);
   height: rem(16);
  }
  @media (max-width: 530px) {
   max-width: 100%;
   justify-content: center;
   padding-left: 0;
   &::before,
   &::after {
    display: none;
   }
  }
 }
}


