//====================================================================================================
.menu-block {
 background-color: $darkColor;
 @include adaptiveValue("padding-top", 80, 30);
 @include adaptiveValue("padding-bottom", 80, 30);
 // .menu-block__container
 &__container {
 }
 // .menu-block__inner
 &__inner {
  display: flex;
 }
 // .menu-block__image
 &__image {
  @include adaptiveValue("margin-right", 64, 30);
  border-radius: 0px 16px 16px 0px;
  max-width: rem(780);
  width: 100%;
 }
 // .menu-block__content
 &__content {
  max-width: rem(575);
 }
 // .menu-block__title
 &__title {
  margin-bottom: rem(16);
 }
 // .menu-block__text
 &__text {
  font-family: "Jost";
  color: $silverColor;
  margin-bottom: rem(50);
  p {
   margin-bottom: rem(20);
  }
 }
 // .menu-block__items
 &__items {
 }
 // .menu-block__item
 &__item {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(rem(214), 100%));
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: rem(16) 0;
  border-top: 1px solid #262424;
  border-bottom: 1px solid #262424;
  //@include adaptiveValue("gap", 32, 10);
 }
 // .menu-block__item-name
 &__item-name {
  @include adaptiveValue("font-size", 24, 18);
  font-weight: 400;
  line-height: math.div( 32, 24);
  width: rem(176);
  //margin-right: rem(32);
  //@include adaptiveValue("margin-right", 32, 10);
 }
 //.menu-block__box
 &__box {
  display: flex;
  //@include adaptiveValue("gap", 32, 10);
 }
 // .menu-block__descr
 &__descr {
  font-family: "Jost";
  color: $silverColor;
  line-height: math.div( 24, 16);
  max-width: rem(190);
  margin-right: rem(32);
  //margin: 0 auto;
 }
 // .menu-block__btn
 &__btn {
  margin-left: auto;
 }
}
//====================================================================================================
